.mobileNavContainer {
  display: none;
  height: 22rem;
  width: 95%;
  position: absolute;
  top: 7rem;
  background: #0f0f0f;
  z-index: 10;
  //   transition: transform 0.5s ease;
  &.active {
    // border: 3px solid blue;
    transform: translateY(0);
  }
}
.headerNavigationMobile {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.6rem;
  cursor: pointer;

  .navLink {
    text-decoration: none;
    color: #9f9f9f;
    &:hover {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 425px) {
  .mobileNavContainer {
    display: block;
  }
  .headerNavigationMobile {
    cursor: default;
  }
  .headerNavigationMobile .navLink {
    cursor: default;
  }
}
