.pf-credential-main-cont {
  gap: 10rem;
}

.pf-credential-pic-detail-cont {
  border-radius: 30px;
}
.pf-credential-box {
  padding: 2.5rem;
  .pf-credential-pic-box {
    .pf-about-profilePic {
      border-radius: 24px;
    }
  }
}

.pf-credential-detail-cont {
  .pf-credential-userid-box {
    .pf-credential-name {
      font-weight: 500;
      font-size: 2.6rem;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 0.5rem;
    }
    .pf-credential-userid {
      color: #bcbcbc;
      opacity: 0.5;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 3.4rem;
    }
  }
  .pf-credential-social-cont {
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3.6rem;
    .pf-profile-icon-box {
      padding: 1.6rem;
      cursor: pointer;
      i {
        font-size: 1.6rem;
      }
    }
  }
}

.pf-credential-send-btn {
  width: 100%;
  border: none;
  padding: 1.8rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  background: #323232;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #323232;
  }
}

.pf-credentail-detail-main-cont {
  height: 90vh;
  //   overflow-y: hidden;
  overflow-y: scroll;
  .pf-credential-detail-box {
    padding-bottom: 8rem;
    .pf-credent-title-text {
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 3.5rem;
    }
    .pf-credent-title-text-2 {
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1.6rem;
    }
    .pf-credent-detail-text {
      font-size: 1.6rem;
      color: #fff;
      opacity: 0.8;
      line-height: 1.56;
    }
  }
}

.pf-cred-skill-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.pf-credent-date-text {
  color: #bcbcbc;
  opacity: 0.6;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.pf-cred-work-title {
  color: #5b78f6;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.8rem;
}

.pf-cred-company-title {
  font-size: 14px;
  color: #bcbcbc;
  opacity: 0.6;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.pf-cred-skill-cont {
  grid-template-columns: 1fr 1fr;
}

.pf-cred-skill-percent {
  font-size: 1.4rem;
  color: #bcbcbc;
  opacity: 0.6;
  display: block;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

.pf-cred-skill-text {
  color: #ffffff;
  opacity: 0.9;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 1200px) {
  .pf-credential-main-cont {
    gap: 5rem;
  }
  .pf-credentail-detail-main-cont {
    height: 80vh;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 768px) {
  .pf-credential-main-cont {
    gap: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .pf-credential-main-cont {
    flex-direction: column;
  }
  .pf-credential-pic-detail-cont {
    .pf-credential-box {
      .pf-credential-pic-box {
        width: 100%;
        .pf-about-profilePic {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .pf-credentail-detail-main-cont {
    height: 100%;
    overflow: hidden;
    .pf-credential-detail-box:last-child {
      padding-bottom: 0;
    }
  }
}
