@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background: #0f0f0f;
  line-height: 1;
  margin-inline: 10rem;
  color: #fff;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}

.display-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.align-items {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.default-border-radius {
  border-radius: 30px;
}
.blue-color {
  color: #5b78f6;
}
.linear-bg {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
}
.default-padding {
  padding: 2.7rem 2.5rem 2.7rem 2.5rem;
}
.position-absolute {
  position: absolute;
}
@media only screen and (max-width: 1200px) {
  body {
    margin-inline: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  body {
    margin-inline: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    /* margin-inline: 2rem; */
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
